/*
You can import it like:
@import url("https://kevinawoo.github.io/dynalist-css/css/main.css");
*/

/*==================font related==================*/
@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css");

* {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Fira Code';
  font-feature-settings: "ss02", "ss03","ss04","ss05";
}

.Node-checkbox:before {
  border-radius: 3px;
  box-shadow: none;
}

.Node-checkbox:after {
  width: 10px;
  height: 6px;
  left: 3px;
  top: 4px;
  border-width: 2px;
}

.MacOS .Node.is-currentRoot > .Node-self .Node-contentContainer,
.MacOS .Node.is-currentRoot > .Node-self.is-heading .Node-contentContainer {
  font-weight: bold;
  font-size: 22px;
}

.is-smallFont .Node-contentContainer {
  font-size: 16px;
}


  /*==================mobile font related==================*/
  .is-mobile .Pane-content {
      font-size: 13px;
  }

  .is-mobile .is-smallFont .Node-contentContainer,
  .is-mobile .is-smallFont .node-inline-item {
    font-size: 13px !important;
  }
  /*==================mobile font related==================*/
/*==================</font related>==================*/






/* ===============================<Hide folder and file icons>=============================== */
.DocumentItem {
  margin: 1px 0;
}

.FolderItem-header {
  padding-left: 10px;
}

.FolderItem .DocumentItem .DocumentItem-header {
  padding-left: 47px;
}

.DocumentItem-title,
.FolderItem-title {
  margin-left: 0;
}

.DocumentItem-icon,
.FolderItem-icon {
  display: none;
}
/* ===============================</Hide folder and file icons>=============================== */






/* ==================<Images>================== */
.node-displayed-image[src$="#75"] {
    max-width: 75%;
    max-height: 75%;
}
.node-displayed-image[src$="#50"] {
    max-width: 50%;
    max-height: 50%;
}
.node-displayed-image[src$="#25"] {
    max-width: 25%;
    max-height: 25%;
}
/* ==================</Images>================== */






/* ==================<Make underlines a bit prettier>================== */
* {
    text-decoration-skip-ink: auto;
}
/* ==================</Make underlines a bit prettier>================== */






/*=============<spacing with a bullet and checkbox>==================*/
.is-mobile .Node.has-checkbox .Node-bullet {
  padding-right: 2px;
  margin-right: 4px;
  /*background: yellowgreen;*/
}

.is-mobile .Node-checkbox {
  padding-right: 4px;
  margin-right: 2px;
  /*background: blue;*/
}

.is-mobile .Node-checkbox:after {
  left: 9px;
}


.is-mobile .Node.has-checkbox .Node-contentContainer {
  width: calc(100% - 46px - 10px); /*make sure to account for above*/
  margin-left: calc(4px);
  /*background: red;*/
}
/*=============</spacing with a bullet and checkbox>==================*/



/*=============<show tag emoji text when not editing>==================*/
/*
.node-inline-item,
.node-tag:after {
  content: "🔖";
  display:inline-block !important;
  font-size: 16px;
}


.node-inline-item,
.node-tag {
  font-size: 0px;
}
*/

.node-inline-item,
.node-tag+span {
/*   background-color:yellow !important; */
  font-size: 0px;
}
/*=============</show tag emoji text when not editing>==================*/
